html {
    font-family: 'Pacifico', cursive;
    line-height: 1.7;
    text-align: center;
  }
  
  .main{
    border: 1px solid black;
  }
  
  .table2{
    border: 1px solid black; 
    width: 350px;
    margin: 5px;
  }
  
  .table2 td:nth-child(1), .number_week{
    background-color: yellow;
  }
    